
<table id="movieInfoTable">
    <tr>
        <th>Movie</th>
        <th>Year</th>
        <th></th>
    </tr>
    <tr>
        <th>Title</th>
        <th>Released</th>
        <th>Director</th>
    </tr>
    <!-- @ngFor on the tr-tag will generate on table row for each movie in moviesList-->
    <!-- {{ variable }} will one-way bind a variable to teh web page                 --> 
    <tr *ngFor="let aMovie of moviesList">
        <td>{{aMovie.title}}</td>
        <td id="relyear">{{aMovie.releaseYear}}</td>
        <td>{{aMovie.director}}</td>
</tr>    
</table>
<!-- routerLink attribute indicates a path to be sent to the router when button is clicked  -->
<input type="button" 
       id="addMovieButton" 
       value="Add Movie" 
       routerLink="/addmovie"/>