<nav class="navbar">
    <div id="navlinks">
        <!-- the a html tag - anchor - specifies a link                 -->
        <!-- here we are specifying the URL path for the link            -->
        <!-- when a link is clicked the path in the href= will be added -->
        <!--      to the server-name:port in the URL                    -->   
        <!-- href="/path-to-where-you-want-to-go"-->     
        <!-- the path specified must defined in the app.routes.ts file   -->  
        <a href="/home">Home</a>     <!-- The word "Home" should follow /home path -->  
        &nbsp;&nbsp; <!-- put two spaces between the links - if you type space-space they get removed -->
        <a href="/contactInfo">Provide Contact Info</a>   
        &nbsp;&nbsp; <!-- put two spaces between the links - if you type space-space they get removed -->
        <a href="/showSeals">Display State Seals</a>   
        &nbsp;&nbsp; <!-- put two spaces between the links - if you type space-space they get removed -->
        <a href="/students">Show Students</a>   
    </div>
</nav>
   
