  <!-- Form to receive information about a user -->
  <!-- When the submit button is clicked the data in the form TypeScript code  -->
  <!-- We want to process data rather then end it to a API URL                 --> 
  
  <!-- We need to do two things:                                                                         -->
  
  <!-- 1. Override the standard form processing of sending to an API URL when a submit button is clicked -->
  <!--    tell the form to run a TypeScript function when the Submit is is clicked using (ngSubmit)      --> 
  <!--    (ngSubmit) = "TypeScriptFunction-name()"-->

  <!-- 2. Be able to send the data from the form back to the TYpeScript code                             --> 
  <!--    Use Two-Binding via [(ngModel)]                                                        --> 
  <!-- [(ngModel)] connects a field on a form with a variable in the associated Typescript code  -->    
  <!-- [(ngModel)]=name-of-variable-typescript  -->

  <form (ngSubmit)="onSubmit()"> <!-- When the user clicks submit, run this TypeScript function-->
    <!-- Ask for user name -->
    <!-- id="name-used-to-reference-the-control-in-the-html-document"            -->
    <!-- name="name-used-by-external-process-to-access-the-data-entered-by-user" -->
    <!-- an example of an external process is a program or an API                -->
    <!-- the label tag adds a prompt/word to the control for="id-for-control"    -->
    
    <!-- the div tag allows us to group elements for styling or spacing -->
    <!-- Each div element starts on a new line by default               -->
    <div>
        <label for="fnamefield">First Name:</label>
        <input type="text" id="fnamefield" name="fname" [(ngModel)]="firstName"/>
    </div>
    <div>
        <label for="lnamefield">Last Name:</label>
        <input type="text" id="lnamefield" name="lname" [(ngModel)]="lastName"/>
    </div>
    <!-- type="date" generates a basic date picker on the page -->
    <div>
        <label for="bdate"> Birth Date:</label>
        <input type="date" id="bdate" name="birthDate"  [(ngModel)]="birthDate">
    </div>
    <!-- the select tag creates a dropdown list                                 -->
    <!-- the name="" on the select tag is the name of teh variable to hold data -->
    <!-- the option tags within the select tag provide the choices              -->
    <!-- the value="" in the option tag is what gets stored for the choice      -->
    <!-- the content of the option tag is what is displayed as the choice       -->
    <div>
        <label for="foodfield">Cuisine Preference: </label>
        <select name="FoodPrefs" id="foodfield"  [(ngModel)]="foodPrefs">
            <option value="italian">Italian</option>
            <option value="mexican">Mexican</option> 
            <option value="indian">Indian</option>
            <option value="american">USA</option>
            <option value="chinese">Chinese</option>
            <option value="japanese">Japanese</option>
            <option value="vietnamese">vietnamese</option>
            <option value="french">French</option>
            <option value="other">Other cuisine</option>
        </select>
    </div>
    <div>
        <p>Contact Information:</p>
        <label for="email-address">What's your email address:</label>
        <input type="text" id="email-address" name="email"  [(ngModel)]="email"/>
        <!-- if you want a blank line inside a div use br tag-->
        <br> <!-- the br tag is the only tag that does not require an end tag  -->
        <!-- the type="radio" generates radio buttons - only one can be chosen -->
        <!-- use the same name="" for radio buttons in the same group          -->
        <!-- the value="" on the element is the value stored in the varable    -->
        <!--     if the radio button is selected                               -->
        <!-- Use the same variable name doe each radio button in the [(ngMode)]-->
        May we contact you?
            <input type="radio" id="emailyesfield" [(ngModel)]="email_preference" name="email-preference" value="yes"/>
            <label for="emailyesfield">Sure</label>
            <input type="radio" id="emailnofield"  [(ngModel)]="email_preference" name="email-preference" value="no"/>
            <label for="emailnofield">No Way!!!</label>
    </div>
    
    <div>
       <p>Do you like any sports?</p>
       <div>
        <!-- when the this checkbox changes, run the function CheckAllOptions-->
        <!-- the change event fire (occurs) whenever the state/content of input element changes -->
        <input type="checkbox" (change)="CheckAllOptions()"/>
        <span>Select All</span>
       </div>
       <!-- For checkboxes in a form                                        -->
       <!-- We have to generate one element for each item in the checkbox array in the code --> 
       <!--*ngFor will process all elements of array in the TypeScript code                --> 
       <!-- We will generate a div for each checkbox item in the array   -->
       <!-- ngFor works like a forEach in JavaScript                       -->  
       <div *ngFor=" let checkbox of checkboxes"> <!-- one div for each checkbox item    -->
            <!-- checkbox.checked will containing whether the checkbox is checked or not -->
            <!-- checked will be added to array elements if not defined already          -->
            <!-- checked will be set true or false depending on its checked status       --> 
            <!-- checkbox is an element in array in the code  checked is attribute       --> 
            <!-- checkbox.value is the value we want returned when the box is checked    --> 
            <!-- checkbox.name is what we want displayed for the check box option        --> 
            <input type="checkbox"
                   [(ngModel)]="checkbox.checked" 
                   [value]="checkbox.value"
                   [ngModelOptions]="{standalone: true}"
                   />
            <span>{{checkbox.name}}</span>       
       </div> 
        
    </div>
    <div>
        <br>  
        <!-- type="submit" generates a submit button                            -->  
        <!-- a submit button send the data from the form to the URL specified   -->
        <!--          in the action="" attribute on the form tag                -->
        <!--          using the request type specified in method="" on the form -->
        <!-- the value="" what is displayed in the button                       -->
        <input type="submit" value="Click to Submit"/> 
    </div>
    </form>