<!-- This is html displayed as the home page by Angular -->
<!-- Angular through the main.ts and index.html specify this as the home page -->

<!-- Display a page title that TypeScript code sets up -->
<!-- I want to see data from the TypeScript code displayed on the page-->
<!-- On-Way data binding describes data from TypeScript code being used in the HTML-->
<!-- in HTML put {{variable-name}} at the place you want the value for the variable displayed -->

<h2> {{pageHeading}} </h2> <!-- Substitute the value in the cariable pageHeading from the TypeScript code -->

<!-- We want to have our form displayed as the home page -->
<!-- We need to include the html tag that represents our form compontnt -->
<!-- The tag representing a component is just the component name inside <> -->
<!-- The component looks like any other html tag, except it's name is in kabob case -->
 <form-example>


 </form-example>